a {
  text-decoration: none;
  color: #3b3f3e;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
button {
  border: none;
}
input {
  border: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
body {
  background: #6ea7b2;
}
#yunp {
  width: 1200px;
  height: 711px;
  border-radius: 15px;
  background-color: #ffffff;
  margin: 100px auto;
}
#yunp #head {
  height: 70px;
  border-radius: 15px 15px 0 0;
}
#yunp #head h1 {
  width: 131px;
  height: 0;
  padding-top: 34px;
  overflow: hidden;
  background: url(../img/logo.png) no-repeat;
  margin: 18px 90px 0 28px;
}
#yunp #head .zt {
  font: 14px/40px "宋体";
  color: #ffffff;
  text-indent: 55px;
}
#yunp #head .chao {
  width: 256px;
  height: 40px;
  margin: 15px 16px 0 0;
  border-radius: 18px;
  background: url(../img/chao.png) 15px 10px no-repeat #ef8989;
}
#yunp #head .shan {
  width: 166px;
  height: 40px;
  margin: 15px 16px 0 0;
  border-radius: 18px;
  background: url(../img/yes.png) 8px 3px no-repeat #86ce8b;
}
#yunp #head .xuan {
  width: 146px;
  height: 40px;
  margin: 15px 16px 0 0;
  border-radius: 18px;
  background: url(../img/please.png) 8px 3px no-repeat #f3a960;
}
#yunp #head .headrig {
  margin: 15px;
  width: 140px;
  height: 40px;
}
#yunp #head .headrig .toux {
  width: 69px;
  height: 0;
  overflow: hidden;
  padding-top: 34px;
  background: url(../img/head-user.png) no-repeat, url(../img/head-more.png) 43px 13px no-repeat;
}
#yunp #head .headrig .shez {
  margin-top: 5px;
  width: 50px;
  height: 0;
  overflow: hidden;
  padding-top: 25px;
  border-left: 1px solid #e4e5e7;
  background: url(../img/set.png) 16px 5px no-repeat;
}
#yunp #nav {
  width: 1200px;
  height: 58px;
  border-top: 1px solid #d1d9db;
  border-bottom: 1px solid #d1d9db;
  background-color: #edf0f7;
  position: relative;
}
#yunp #nav a {
  height: 36px;
  border: 1px solid#d1d9db;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  padding: 0 18px 0 54px;
  font: 14px/36px "宋体";
  color: #677576;
}
#yunp #nav .xiaz {
  background: url(../img/download.png) 20px 10px no-repeat #ffffff;
  margin-left: 20px;
}
#yunp #nav .fenx {
  background: url(../img/share.png) 20px 10px no-repeat #ffffff;
}
#yunp #nav .yidongd {
  background: url(../img/mobile.png) 20px 10px no-repeat #ffffff;
}
#yunp #nav .chongmmm {
  background: url(../img/rename.png) 20px 10px no-repeat #ffffff;
}
#yunp #nav .shanc {
  background: url(../img/delete.png) 20px 10px no-repeat #ffffff;
}
#yunp #nav .xinjian {
  background: url(../img/addfolder.png) 20px 10px no-repeat #ffffff;
}
#yunp #nav .shuax {
  background: url(../img/refresh.png) 10px 10px no-repeat #ffffff;
  padding: 0 11px;
  overflow: hidden;
  text-indent: -9999px;
}
#yunp #nav .sort {
  background: url(../img/order.png) 10px 10px no-repeat #ffffff;
  width: 36px;
  text-indent: -9999px;
  padding: 0;
}
#yunp #nav .more {
  background: url(../img/more.png) 10px 10px no-repeat, url(../img/arrowstobottom.png) 32px 10px no-repeat #ffffff;
  padding: 0;
  width: 56px;
  text-indent: -9999px;
}
#yunp #nav .moreDian {
  background: url(../img/more.png) 10px 10px no-repeat, url(../img/arrowstobottom.png) 32px 10px no-repeat #ffffff;
  padding: 0;
  margin-bottom: 0;
  width: 56px;
  height: 47px;
  border-color: #53aedb;
  border-bottom: 1px solid #ffffff;
  border-radius: 5px 5px 0 0;
  position: relative;
  z-index: 2;
  text-indent: -9999px;
}
#yunp #nav .paixTK {
  display: none;
  width: 130px;
  height: 108px;
  border: 1px solid #56acdf;
  border-radius: 5px 0 5px 5px;
  position: absolute;
  right: 10px;
  top: 58px;
  z-index: 1;
}
#yunp #nav .paixTK .paixText {
  width: 130px;
  height: 36px;
  margin: 0;
  padding: 0;
  border: none;
  font: 14px/37px "宋体";
  text-indent: 39px;
}
#yunp #nav .paixTK .paixText:hover {
  background-color: #e1e8ee;
}
#yunp #nav .paixTK .paixSj {
  background: url(../img/time.png) 10px 12px no-repeat;
  border-radius: 5px 0 0 0;
}
#yunp #nav .paixTK .paixZm {
  background: url(../img/order.png) 10px 12px no-repeat;
}
#yunp #nav .paixTK .paixXs {
  background: url(../img/more.png) 10px 10px no-repeat;
  border-radius: 0 0 5px 5px;
}
#yunp #bottom {
  height: 581px;
  position: relative;
}
#yunp #bottom #botleft {
  width: 258px;
  height: 571px;
  padding-top: 10px;
  border-right: 2px solid #e2e7eb;
  border-radius: 0 0 0 15px;
}
#yunp #bottom #botleft .gaoL {
  background-color: #e1e8ee;
}
#yunp #bottom #botleft .botLeftTxet {
  display: block;
  font: 16px/34px "宋体";
  color: #65747b;
  text-indent: 63px;
}
#yunp #bottom #botleft .botLeftYouDianK {
  background: url(../img/havathing.png) 20px 7px no-repeat, url(../img/infolder.png) 40px 7px no-repeat;
}
#yunp #bottom #botleft .botLeftYouMeiN {
  background: url(../img/nothing.png) 20px 7px no-repeat, url(../img/folder.png) 40px 7px no-repeat;
}
#yunp #bottom #botleft .botLeftMeiNeiM {
  background: url(../img/folder.png) 40px 7px no-repeat;
}
#yunp #bottom #botleft .botLeftMeiNeiD {
  background: url(../img/infolder.png) 40px 7px no-repeat;
}
#yunp #bottom #botrig {
  width: 940px;
  height: 581px;
  background-color: #f6f7fb;
  border-radius: 0 0 15px 0;
}
#yunp #bottom #botrig .quanx {
  width: 60px;
  height: 48px;
  background: url(../img/noClick.png) 15px 15px no-repeat;
  text-indent: -9999px;
  float: left;
  background-color: #ffffff;
  border-bottom: 2px solid #e2e7eb;
}
#yunp #bottom #botrig .onQuanx {
  width: 60px;
  height: 48px;
  text-indent: -9999px;
  background: url(../img/click.png) 15px 15px no-repeat;
  float: left;
  background-color: #ffffff;
  border-bottom: 2px solid #e2e7eb;
}
#yunp #bottom #botrig .rigHead {
  width: 880px;
  height: 48px;
  background-color: #ffffff;
  border-bottom: 2px solid #e2e7eb;
  float: left;
}
#yunp #bottom #botrig .rigHead .yangs {
  padding: 0 17px;
  height: 48px;
  font: 14px/48px "宋体";
}
#yunp #bottom #botrig .rigHead .rigHeadDian {
  color: #58afdc;
  border-bottom: 2px solid #56acdd;
  padding: 0 17px;
  height: 48px;
  font: 14px/48px "宋体";
}
#yunp #bottom #botrig .rigHead .Rjiantou {
  width: 15px;
  height: 48px;
  background: url(../img/arrowsRight.png) 1px 16px no-repeat;
}
#yunp #bottom #botrig .rigXian {
  float: left;
  width: 920px;
  height: 531px;
  border-radius: 0 0 15px 0;
  position: relative;
}
#yunp #bottom #botrig .rigXian .box {
  width: 0;
  height: 0;
  background-color: rgba(86, 172, 221, 0.5);
  position: absolute;
  left: 0;
  top: 0;
}
#yunp #bottom #botrig .rigXian .noWenJ {
  background: url(../img/nowenjian.png) no-repeat;
  height: 500px;
}
#yunp #bottom #botrig .rigXian .rigList {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 920px;
}
#yunp #bottom #botrig .rigXian .rigList .rigJiC {
  height: 50px;
  border-bottom: 1px solid #e2e7ea;
}
#yunp #bottom #botrig .rigXian .rigList .rigJiC .rigJiCLeft {
  width: 230px;
}
#yunp #bottom #botrig .rigXian .rigList .rigJiC .rigJiCLeft .xuanZ {
  width: 40px;
  height: 50px;
  background: url(../img/noClick.png) 15px 15px no-repeat;
  text-indent: -9999px;
}
#yunp #bottom #botrig .rigXian .rigList .rigJiC .rigJiCLeft .rigLeftTage {
  width: 190px;
  height: 50px;
  background: url(../img/wenjtbxaio.png) 13px 13px no-repeat;
  font: 14px/50px "宋体";
  color: #7e8387;
  text-indent: 50px;
}
#yunp #bottom #botrig .rigXian .rigList .rigJiC .rigJiCont {
  width: 180px;
  height: 20px;
  margin: 18px 0 0 126px;
}
#yunp #bottom #botrig .rigXian .rigList .rigJiC .rigJiCont a {
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  margin-right: 20px;
}
#yunp #bottom #botrig .rigXian .rigList .rigJiC .rigJiCont .conXZ {
  background: url(../img/download.png) no-repeat;
}
#yunp #bottom #botrig .rigXian .rigList .rigJiC .rigJiCont .conFX {
  background: url(../img/share.png) no-repeat;
}
#yunp #bottom #botrig .rigXian .rigList .rigJiC .rigJiCont .conYDD {
  background: url(../img/mobile.png) no-repeat;
}
#yunp #bottom #botrig .rigXian .rigList .rigJiC .rigJiCont .conCMM {
  background: url(../img/rename.png) no-repeat;
}
#yunp #bottom #botrig .rigXian .rigList .rigJiC .rigJiCont .conSC {
  background: url(../img/delete.png) no-repeat;
}
#yunp #bottom #botrig .rigXian .rigList .rigJiC .rigRig {
  margin-top: 19px;
  font: 14px/14px "宋体";
  color: #777c80;
}
#yunp #bottom #botrig .rigXian .rigList .LiYIRu {
  background-color: #ffffff;
  border-color: #54afdc;
}
#yunp #bottom #botrig .rigXian .rigList li {
  width: 178px;
  height: 178px;
  border-radius: 5px;
  background-color: #ebeff0;
  margin-top: 40px;
  margin-left: 40px;
  position: relative;
  border: 1px solid #ebeff0;
}
#yunp #bottom #botrig .rigXian .rigList li p {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 10px;
  top: 10px;
}
#yunp #bottom #botrig .rigXian .rigList li .gou {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: url(../img/click.png) no-repeat #55acd7;
  position: absolute;
  left: 10px;
  top: 10px;
}
#yunp #bottom #botrig .rigXian .rigList li .kuang {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid #55acd7;
  position: absolute;
  left: 10px;
  top: 10px;
}
#yunp #bottom #botrig .rigXian .rigList li .rigImg {
  width: 80px;
  height: 80px;
  margin: 30px 50px 18px;
  border-radius: 5px;
  background: url(../img/bigfolder.png) 8px 8px no-repeat;
}
#yunp #bottom #botrig .rigXian .rigList li .rigText {
  width: 80px;
  margin-left: 50px;
  font: 14px/14px "宋体";
  color: #697279;
}
#yunp #bottom #botrig .rigXian .rigList li .chongM {
  position: absolute;
  left: 30px;
  top: 128px;
  width: 118px;
  height: 30px;
  border: 1px solid #56adda;
  display: none;
  font: 20px/30px "宋体";
}
#yunp #bottom #botrig .rigXian .rigList li .block {
  display: block;
}
#yunp #bottom .suDelete {
  width: 316px;
  height: 176px;
  border: 2px solid #56acdd;
  border-radius: 10px;
  position: absolute;
  background-color: #ffffff;
  top: 270px;
  left: 345px;
  display: none;
  z-index: 1;
}
#yunp #bottom .suDelete .gbanN {
  width: 16px;
  height: 16px;
  background: url(../img/close.png) no-repeat;
  text-indent: -9999px;
  margin: 15px 0 5px 286px;
}
#yunp #bottom .suDelete .tishi {
  width: 270px;
  height: 60px;
  margin-left: 20px;
  background: url(../img/yesorno.png) 0 7px no-repeat;
  background-size: 36px 36px;
}
#yunp #bottom .suDelete .tishi .bigText {
  font: 18px/30px "宋体";
  padding-left: 50px;
  color: #000000;
}
#yunp #bottom .suDelete .tishi .litText {
  font: 12px/30px "宋体";
  padding-left: 50px;
  color: #3a3a3a;
}
#yunp #bottom .suDelete .qued {
  width: 80px;
  height: 30px;
  margin: 24px 24px 0  70px;
  background-color: #55addb;
  border-radius: 3px;
  font: 16px/30px "宋体";
  color: #ffffff;
  border: 1px solid  #55addb;
}
#yunp #bottom .suDelete .quxiao {
  width: 80px;
  height: 30px;
  font: 16px/30px "宋体";
  color: #60b3dd;
  border: 1px solid #56acdd;
  background-color: #ffffff;
  border-radius: 3px;
}
#yunp #bottom #stoLoc {
  width: 386px;
  padding-left: 20px;
  height: 416px;
  border: 2px solid #56acdd;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  top: 80px;
  right: 18px;
  display: none;
  z-index: 1;
}
#yunp #bottom #stoLoc .stoLocHead {
  height: 55px;
}
#yunp #bottom #stoLoc .stoLocHead .stoHeadText {
  font: 16px/55px "宋体";
  color: #000000;
}
#yunp #bottom #stoLoc .stoLocHead .stoGuan {
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background: url(../img/close.png) no-repeat;
  margin: 15px 10px 0 0 ;
  background-size: 20px 20px;
}
#yunp #bottom #stoLoc .name {
  height: 26px;
  font: 14px/26px "宋体";
  background: url(../img/folder.png) no-repeat;
  color: #6b7074;
  background-size: 24px 21px;
  text-indent: 33px;
}
#yunp #bottom #stoLoc .stoCon {
  width: 358px;
  height: 238px;
  border: 1px solid #e5e6e8;
  margin-top: 14px;
  overflow: auto;
}
#yunp #bottom #stoLoc .stoCon .stoConText {
  display: block;
  font: 16px/34px "宋体";
  color: #65747b;
  text-indent: 63px;
}
#yunp #bottom #stoLoc .stoCon .stoConYouMeiN {
  background: url(../img/infolder.png) 40px 7px no-repeat;
}
#yunp #bottom #stoLoc .stoCon .stoConMeiNeiM {
  background: url(../img/folder.png) 40px 7px no-repeat;
}
#yunp #bottom #stoLoc .stoCon .gaoL {
  background-color: #e1e8ee;
}
#yunp #bottom #stoLoc .stobot .stoQueD {
  width: 80px;
  height: 30px;
  margin: 24px 24px 0  95px;
  background-color: #55addb;
  border-radius: 3px;
  font: 16px/30px "宋体";
  color: #ffffff;
  border: 1px solid  #55addb;
}
#yunp #bottom #stoLoc .stobot .stoQuXiao {
  width: 80px;
  height: 30px;
  font: 16px/30px "宋体";
  color: #60b3dd;
  border: 1px solid #56acdd;
  background-color: #ffffff;
  border-radius: 3px;
}
#zhezhao {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(8, 18, 24, 0.692);
  width: 100%;
  height: 100%;
  display: none;
}
